  <% if !!@business %>
  <h1><%= @business.name %>'s Reviews</h1>
  <h2><%= link_to "[Leave a review]", new_biz_review_path(@business, @review) %></h2>

  <div class="">
    <ul>
      <% @business.reviews.each do |r| %>
        <li>
          <h4><%= link_to "#{r.title}", biz_review_path(@business, r) %></h4>
          <%= r.content %><br>
          <%= display_recommendation r %><br><br>
          <% if r.crypto %>
            <label>User paid in</label><strong>
            <%= r.crypto.name %>.</strong><br>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <%= render 'all' %>
<% end %>
