<h2><%= @review.title %></h2>

<div id="review-<%= @review.id %>">
  <%= @review.content %><br /><br />
  <%= display_rating @review %><br />

  <% # DRY code. Separate if statement below into helper? %>
  <% if @review.would_recommend %>
    <p><%= "#{display_email @review} recommends this business." %></p>
  <% else %>
    <p><%= @review.user.email %> does not recommend this business.</p>
  <% end %>
  <% if @review.crypto %>
    <p>User paid in <%= @review.crypto.name %>.</p>
  <% end %>
</div><br />

<%# render 'comments/new', :review => @review %>
<button id="comment-btn">Add Comment</button>
<a id="load-comments" href="#">Load Comments</a>
<div id="comment-section" class="container" data-review-id="<%= @review.id %>" data-business-id="<%= @review.business_id %>">
  <div class="comment-object" data-value="<%= @comment %>">
    <div class="content">
      <div class="user" data-id="<%= current_user.id %>">

      </div>
    </div>
  </div>
</div>

<%= display_edit_link @review %> |
<%= display_delete_link @review %> |
<%= display_all_link @review %>
