<!DOCTYPE html>
<html>
  <head>
    <title>SpendItHere</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <%= render 'layouts/navbar' %>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <body>

    <%= yield %>
  </body>
</html>
